@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&display=swap");
:root {
  --bg-primary: #242424;
  --primary-red: red;
  --primary-yellow: yellow;
  --primary-green: green;
  --section-margin: 50px;
}

body {
  background-color: var(--bg-primary);
  font-family: "Montserrat", sans-serif;
}

button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;
  padding: 8px 20px;
  color: white;
  margin: auto;
  transition: 300ms;

  &:hover {
    background-color: white;
    color: black;
  }
}
ul {
  list-style: none;
}
input,
select {
  background-color: white;
  color: black;
  padding: 10px 0px;
  width: 25vw;
  border-radius: 20px;
}

section {
  margin: var(--section-margin) 0;
}

.unhidden-form {
  display: inline-block !important;
}
.hidden-form {
  display: none;
}

.top-section {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.search-form {
  margin-left: auto;
  margin-right: auto;

  input.search-param {
    width: 50vw;
  }
}

div.title {
  color: white;
}
.add-form {
  input.add-word {
    margin-right: 15px;
    width: 300px;
    background-color: white;
  }
  input.add-meaning {
    margin-right: 15px;
    width: 500px;
  }
  select.add-type {
    margin-right: 15px;
    width: 150px;
  }
  textarea {
    width: 1000px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
  }
}

.metrics {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100px;
  right: 0;

  .metric {
    margin: 20px 0;
    display: inline-block;
    margin: 2px0 20px;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
  }

  .m1-TW {
    background-color: var(--primary-yellow);
  }
  .m2-WAT {
    background-color: var(--primary-red);
  }
  .m3-AWApD {
    background-color: var(--primary-green);
  }
}

.groups {
  color: white;
  margin: var(--section-margin) 0;

  .group-title {
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 8px 20px;
  }
}

.vocab {
  margin: var(--section-margin) 0;
  font-size: 18px;
  font-weight: 500;
  
  .vocab-list {
    background-color: #ddd;
    margin:0;
    border-radius: 10px;
    padding: 10px 40px;

    .vocab-item{

      background-color: white;
      padding: 1px;
      border-radius: 15px;
      margin-bottom: 8px;
    }

    div{
        margin-bottom: 0px;
    }
    ul.data-rw {
      width: 100%;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      .data-sn {
        width: 5%;
      }
      .data-word {
        width: 20%;
      }
      .data-meaning {
        width: 40%;
      }
      .data-type {
        width: 10%;
      }
      .data-edit {
        width: 20%;
      }

    }
    ul.data-details {
        margin-top: -30px;
        li{
      margin: 0 5% 2% 5%;
        }  
  }
  .edit-word {
      margin-left: 5%;
    width: 20%;
    margin-right: 25px;
  }
  .edit-meaning {
    width: 40%;
    margin-right: 25px;
  }
  .edit-type {
    width: 10%;
  }
  .edit-details {
    margin: 1% 5% 0 5%;
    width: 50%;
  }
  }
}
